<form class="form-horizontal" role="form">
	<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon">
				<i class="fa fa-git fa-fw"></i>
			</div>
			<input class="form-control" type="email" placeholder="{$ dic.inpLink[lang] $}">
		</div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon">
				<i class="fa fa-user fa-fw"></i>
			</div>
			<input class="form-control" type="email" placeholder="{$ dic.inpUser[lang] $}">
		</div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon">
				<i class="fa fa-key fa-fw"></i>
			</div>
			<input class="form-control" type="email" placeholder="{$ dic.inpPass[lang] $}">
		</div>
	</div>
	<a href="#project" class="btn btn-primary btn-lg">{$ dic.inpStart[lang] $}</a> <!-- ВРЕМЕННАЯ ЗАГЛУШКА -->
</form>
